body {
    background: linear-gradient(145deg, #f9d423, #ff4e50);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #cd6c0a;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffcc00;
}

.elementocurvado svg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    fill: #cd6c0a;
}

.elemento h1 {
    color: #ffcc00;
}

.elemento p {
    color: #333;
}
