body {
    background: linear-gradient(145deg,  #ff4500, #850c0c);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #850c0c;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffb3b3;
}

.elementocurvado svg {
    fill: #850c0c;
}

.elemento h1 {
    color: #ff4500;
}

.elemento p {
    color: #333;
}

